html,
body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
  color: #333;
}


*::-webkit-scrollbar{
  width: 0;//对垂直方向滚动条
  height: 0;//对水平方向滚动条
}
